In [41]:
list1=[1,2,3,4]
sum=0
for i in list1:
    if i%2==0: #take care of the indentations
        sum+=i #calculating the sum
    print(i)#if print was here it will print 4 times    
print(sum)   #This is outside the loop

1
2
3
4
6

This was me testing things

In [42]:
mystring='Hello'

In [43]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [44]:
mylist

['H', 'e', 'l', 'l', 'o']

now do this in a single line

In [45]:
mylist=[letter for letter in mystring]

In [46]:
mylist

['H', 'e', 'l', 'l', 'o']

In [47]:
mylist=[x for x in 'Aniket']

In [48]:
mylist

['A', 'n', 'i', 'k', 'e', 't']

In [49]:
mylist[0]

'A'

In [50]:
mylist=[x for x in range(0,11)]

In [51]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

basically the syntax reads

mylist= the letter to be printed for letter loop in the range

In [62]:
mylist = [ i for i in [1,2,3,4,5] if( i%2!=0)]

In [63]:
mylist

[1, 3, 5]

In [64]:
mylist = [ i ** 2 for i in [1,2,3,4,5] ]

In [65]:
mylist

[1, 4, 9, 16, 25]

In [66]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [67]:
mylist

[0, 2, 4, 6, 8, 10]

In [68]:
celcius= [0,10,20,49.5]

farenheight = [((9/5)*temp +32) for temp in celcius]

In [69]:
farenheight

[32.0, 50.0, 68.0, 121.10000000000001]

if else statements

In [79]:
result = [ x  if x%2 == 0 else 'ODD' for x in range (0,11)]

In [80]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [83]:
mylist=[]

for x in [2,4,6]:
    for y in [200,300,400]:
        mylist.append(x*y)

In [84]:
mylist

[400, 600, 800, 800, 1200, 1600, 1200, 1800, 2400]

one liner down below

In [85]:
mylist = [x*y for x in [2,4,6] for y in [10,20,30]]

In [86]:
mylist

[20, 40, 60, 40, 80, 120, 60, 120, 180]