In [2]:
my_name="Aniket Batabyal"

In [3]:
my_name

'Aniket Batabyal'

In [6]:
my_name[0:5:1]

'Anike'

In [7]:
my_name[-1]

'l'

In [8]:
my_name[-2]

'a'

In [10]:
my_name[0:6]

'Aniket'

In [12]:
my_name[1:6]

'niket'

In [13]:
my_name[2:6:2]

'ie'

In [14]:
my_name[2:6]

'iket'

In [15]:
my_name[:3]

'Ani'

In [16]:
my_name[2:9:1]

'iket Ba'

In [19]:
my_name[0:6]

'Aniket'

In [20]:
my_name[::]

'Aniket Batabyal'

In [23]:
my_name[::5]

'Ata'

In [25]:
my_name[::-1]

'laybataB tekinA'

In [26]:
name="Hello World"
name[-3]

'r'

In [28]:
name="Sam"
new_name=name[1:3]

In [31]:
name_add="P"
new_n=name_add+new_name

In [32]:
new_n

'Pam'

In [33]:
new_n*10

'PamPamPamPamPamPamPamPamPamPam'

In [37]:
new_n=new_n+" hey "
new_n

'Pam hey  hey  hey  hey '

In [38]:
my_name="ANIKET"

In [41]:
my_name.lower()

'aniket'

In [46]:
name=my_name.count(my_name)

In [47]:
name

1

In [48]:
my_name.split()

['ANIKET']

In [49]:
my_name="ANIKET BATABYAL"

In [56]:
my_name.split()

['ANIKET', 'BATABYAL']

In [58]:
my_name.split()

['AN', 'KET BATABYAL']

In [60]:
print('HELLO '+my_name)

HELLO ANIKET BATABYAL

In [62]:
my_name.format('hello')

'ANIKET BATABYAL'

In [71]:
print('This is a string{}'.format('Inserted'))

This is a stringInserted

In [72]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [73]:
print("The {q} {b} {f}".format(q='quick',b='brown',f='fox'))

The quick brown fox

In [74]:
result=100/7

In [75]:
print("The result is {}".format(result))

The result is 14.285714285714286

In [88]:
print("The result is {r:0.2f}".format(r=result))

The result is 14.29

In [ ]:
result=3.14325678

In [89]:
print('The result is {r:0.1f}'.format(r=result))

The result is 14.3

In [98]:
name1='Batabyal'

In [90]:
name='Aniket'

In [99]:
print(f'Hello,his name is {name} {name1}')

Hello,his name is Aniket Batabyal