Range function

In [1]:
mylist=[1,2,3]

In [5]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9


RANGE TAKES THE OPERATOR LIKE c++

range ( i=0 // start , i<10//end,i++//step size of 1)

thus in python we can write 
 
        range ( start , stop , step size ( no of iterations) )

In [6]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

enumerate example down below

In [7]:
index_count=0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count+=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [15]:
count = 0
word = 'Aniket'

for i in word:
    #print(f'the index {count} is {i}')
    print(word[count])
    count+=1

A
n
i
k
e
t

In [23]:
word = 'Aniket'

for item,value in enumerate(word):
    print(f'the string is at index {item} whose value is {value}')

the string is at index 0 whose value is A
the string is at index 1 whose value is n
the string is at index 2 whose value is i
the string is at index 3 whose value is k
the string is at index 4 whose value is e
the string is at index 5 whose value is t

enumerate takes in any iterable object and it returns the index counter and the object itself

In [24]:
lis1=[1,2,3,4,5]

In [25]:
lis2=['a','b','c','d','e']

In [26]:
zip(lis1,lis2)

In [27]:
for i in zip(lis1,lis2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

if one list has 5 items and another list has 3 
it will return the shorter list 

for ex 

take list1 as  1 , 2 , 3 , 4 , 5
take list2 as  'a', 'b', 'c'


the output will be 1,'a'
                   2,'b'
                   3,'c'
                   
                   the rest will be ignored

In [28]:
list(zip(lis1,lis2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [29]:
'x' in [1,2,3]

False

In [30]:
'x' in ['x','y','z']

True

In [31]:
'a' in ' a world'

True

In [33]:
'mykey' in {'mykey':[3,4,5]}

True

In [34]:
d={'mykey':[3,4,5]}

In [36]:
'mykey' in d.keys()

True

In [37]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [38]:
max(mylist)

10

In [39]:
min(mylist)

1

REMEMBER ALL THESE THINGS

NOW WE WILL LEARN HOW TO IMPORT A LIBRARY

In [40]:
from random import shuffle

In [43]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [45]:
random_list=shuffle(list1)

In [46]:
random_list

In [47]:
list1

[4, 10, 1, 3, 7, 5, 2, 9, 8, 6]

In [48]:
type(random_list)

NoneType

In [49]:
from random import randint

In [50]:
randint(0,100000000000000)

82525108951377

In [52]:
randint(0,100)

73

In [53]:
mynum=randint(0,10)

In [54]:
mynum

4

now comes the real fun part

how to input numbers

In [62]:
a = int(input('enter a number here : '))
b = int(input('enter another number'))

enter a number here : 50
enter another number10

In [63]:
result=a+b
int(result)

60